.header{
    background-color: #212226;
    height: 60px;
    display: flex;
}
.header_logo{
    margin-left: 10px;
    padding-top: 12px;
    height: 35px;
}

.header__nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.cart_logo{
    color: white;
    display: flex;
    height: 20px;
    
}
.Cart{
    text-decoration: none;
}
.flex-left{
    padding-left: 30px;
    display: flex;
    align-items: center;
    display: flex;
    gap: 10px;
    margin-right: 10px;
}

.flex-right{
    display: flex;
    justify-content: flex-end;
    justify-content: space-around;
    align-items: center;
    gap: 25px;
    padding-right: 20px;
}

.AccountBoxIcon{
 color: white;
 display: flex;
 margin-top: 5px;
 
}