*{
    margin: 0;
    padding: 0;
}
.footer{
    margin-top: auto;
    background-color: #212226;
    height: 362px;
}

.footer__container-connect{
    border: 2px solid aqua;
    width: 230px;
    display: flex;
    flex-direction: column;
    
}
.footer__logo{
    height: 50px;
}

.footer__connectwithus{
    color: white;
}
